.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: burlywood;
}
.place-order-left .multi-fields{
    gap: 10px; 
    display: flex;
}
.place-order-left .multi-fields select{
    cursor: pointer;
}
.place-order-right{
    width: 100%;
    max-width:max(40%, 500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}

@media (max-width:500px) {
    .place-order-right{
        width: 90%;
        font-weight: bold;
    }
    .place-order{
        display: block;
        padding-right: 3rem;
        margin: 0;
        overflow: hidden;
        box-shadow: 1px solid black;
    }
     .place-order .place-order-left {
        max-width: 100%;
        overflow: hidden;
    }
    .place-order .place-order-left .title{
        font-size: 23px;
        margin-bottom: 1.8rem;
    }
    .place-order-right .cart-total h2{
        font-size: 19px;
        margin-top: 25px;
    }
    .place-order-right .cart-total-details{
        font-size: 16px;
        padding: 0rem;
        margin: 0;
    }
    .place-order-right .cart-total button{
        width: 190px;
        font-size: 17px;

    }
}