.service-details {
    padding: 0rem;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .service {
    flex: 1;
    min-width: 250px;
  }
  .service img{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    opacity: .8;
    transition: .5s;
  }
  
  h2 {
    color: #333;
    margin-bottom: 1rem;
  }
  
  h3 {
    color: #007BFF;
  }
  
  p {
    color: #666;
    line-height: 1.5;
  }
  .btn{
    margin-top: 2rem;
      padding: 0.5rem 1rem;
      background-color: #17a2b8;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  .btn:hover{
    background-color: black;
  }