.customer h2{
    display: flex;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.customer h2 span{
  color: darkcyan;
}
.customer .slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: transparent;
  padding: 40px 0;
}
.card{
  border-radius: 25px;
  background-color: white;
  width: 650px;

}
.image-content,
.card-content{
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
  align-items: center;
  
}
.image-content{
  position: relative;
  padding: 20px 0;
}
.image-content .overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #17a2b8;
  border-radius: 25px 25px 0 25px;
}
.image-content .overlay::before,
.image-content .overlay::after{
  content: '';
  position: absolute;
  height: 40px;
  right: 0;
  width: 40px;
  bottom: -40px;
  background-color: #17a2b8;
}
.image-content .overlay::after{
  border-radius: 0 40px 0  0;
  background-color: #fff;
  color: white;
  border: 0.00000px solid transparent;

}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}
.card-content .name{
  font-size: 18px;
  font-weight: bolder;
  color: black;
  padding-bottom: .6rem;
  margin-top: .5rem;
}
.card-content .description{
  font-size: 12px;
  color: rgb(72, 70, 70);
  
}
.button{
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #17a2b8;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
}
.button:hover{
  background: black;
  color: white;
}
.card-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:center;
  border-radius: 50%;
  border: 4px solid whitesmoke;
  transition: .9s;
}

@media (max-width:1080px) {
    .card{
        width: 900px;
    }
}
@media (max-width:750px) {
    .card{
        width: 320px;
    }

}
@media(max-width:500px) {
  .card-content .description{
    font-size: 17px;
    line-height: 1.4;
    color: rgb(72, 70, 70);
  }

}