.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    text-transform: capitalize;
    columns: #808080;
    font-weight: bolder;


}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu .arrow img{
    width: 20px;
    height: 20px;
    float: inline-end;
    margin-bottom: -3rem;
    margin-right: 1rem;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    object-fit: cover;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.5vw, 16px);
    cursor: pointer;
    font-weight: 700;
}
.explore-menu hr{
    border: none;
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
}
.explore-menu-list .active{
    border: 4px solid rgb(120, 139, 129);
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width:500px) {
    
    .explore-menu-list::-webkit-scrollbar{
        height: 20px;
        margin-bottom: -2rem;
    }
    .explore-menu-list{
        gap: 4px;
        }
    
}